/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

:root{
    /* Text */
    --darkSaturated : hsl(238, 29%, 16%);
    --softRed : hsl(14, 88%, 65%);
    /* Gradient */
    --softViolet : hsl(273, 75%, 66%);
    --softBlue : hsl(240, 73%, 65%);
    /* Text */
    --veryDarkgrayishBlue : hsl(237, 12%, 33%);
    --darkGrayishBlue : hsl(240, 6%, 50%);
    /* Dividers */
    --lightGrayishBlue : hsl(240, 5%, 91%);

    /* Sombras */
    --sombra : #5c47c2;
    --sombra2 : #6f4ec9;
    
    /* Font Size */
    --fs-small0: 0.8rem;
    --fs-small1: 0.9rem;
    --fs-medium0: 1rem;
    --fs-medium1: 1.1rem;
    --fs-large0: 1.2rem;
    --fs-large1: 2.5rem;

    /* Font Weights */
    --fw-light: 400;
    --fw-bold: 700;
}

body{
    width: 100%;
    max-width: 1980px;
    min-height: 100vh;
    background: linear-gradient(to top, var(--softBlue), var(--softViolet));
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    position: relative;
}

main{
    width: 90%;
    max-width: 950px;
    height: auto;
    min-height: 550px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    gap: 25px;
    border-radius: 30px;
    position: relative;
    box-shadow: 3px 20px 14px -6px var(--sombra);
}

.section-frame{
    width: 100%;
    height: 100%;
}

#left-section{
    position: relative;
    overflow: hidden;
}

.background-svg-pattern{
    width: 1000px;
    height: 1000px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: -121%;
    top: -57%;
}

.ilustration-woman{
    width: 525px;
    height: 416px;
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    left: -19%;
    top: 10%;
}

.box{
    height: 160px;
    width: 160px;
    background-image: url(./images/illustration-box-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 42%;
    left: -11%;
    z-index: 1;
    filter: drop-shadow(-5px 19px 7px var(--sombra2));
}

#right-section{
    padding: 70px 18% 25px 5%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: start;
    gap: 50px;
    grid-template-rows: 30px 1fr;
}

h1{
    font-size: var(--fs-large1);
    font-weight: var(--fw-bold);
    color: var(--darkSaturated);
}

#q-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    align-items: start;
    justify-items: start;
    grid-template-rows: auto;
    grid-auto-rows: auto;
}

.q-field{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 10px;
    place-items: center;
    min-height: 30px;
    height: auto;
}

.divider{
    height: 1px;
    background-color: var(--lightGrayishBlue);
    width: 100%;
}

.question{
    justify-self: start;
    text-align: left;
    font-size: var(--fs-medium1);
    font-weight: var(--fw-light);
    cursor: pointer;
    transition: all 0.3s;
}

.question:hover{
    color: var(--softRed);
    transition: all 0.3s;
}

.selected-question{
    font-weight: var(--fw-bold);
}

.arrow{
    height: 10px;
    width: 10px;
    background-image: url("./images/icon-arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: transform 0.5s;
}

.spin{
    transform: rotateZ(180deg);
    transition: transform 0.5s;
}

.answer{
    display: none;
    font-size: var(--fs-medium1);
    font-weight: var(--fw-light);
}

.show{
    display: block;
}





footer{
    position: absolute;
    bottom: 0px;
    height: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

/* Footer */
.attribution { 
    font-size: var(--fs-small1); 
    text-align: center; 
    color: var(--darkSaturated);
    font-weight: var(--fw-bold);
    width: 100%;
}

.attribution a { 
    color: var(--darkSaturated);
    font-size: var(--fs-small1);
    font-weight: bolder;
    text-decoration: none;
}


/* Media Queries */

